/src/dlbc/revision.d
/src/dlbc/plugins/plist.d
*.[oa]
*.html
*.lst
dlbc-*
.dub
docs.json
docs/
__dummy.html
*.obj
/tests/runnable/doc/generated
/tests/runnable/tests/*/*/output/*
/tests/runnable/tests/*/*/reference-data/*.pdf
/tests/coverage/*
*.h5
*.pyc
dub.selections.json

