language: d

d:
  - dmd-2.066.1
  - ldc-0.15.1

install:
  - ./travis-ci/get-dependencies.sh
  # MPICH 3.1
  # - wget http://www.mpich.org/static/downloads/3.1/mpich-3.1.tar.gz
  # - tar -xf mpich-3.1.tar.gz
  # - cd mpich-3.1/
  # - ./configure --disable-fc --disable-f77 &> /dev/null
  # - make &> /dev/null
  # - sudo make install &> /dev/null
  # - cd ..
  # Check MPICH version
  - mpichversion

  # HDF5 1.8.13
  # - wget http://www.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8.13/src/hdf5-1.8.13.tar.bz2
  # - tar -xf hdf5-1.8.13.tar.bz2
  # - cd hdf5-1.8.13
  # - ./configure --prefix=/usr --enable-parallel --disable-fortran &> /dev/null
  # - make &> /dev/null
  # - sudo make install &> /dev/null
  # - cd ..
  # Check HDF5 version
  - h5dump -V

script:
  # Run tests - split up the various testing sections to get timing for them separately
  - make test-build
  - make test-unittest
  - make test-runnable
  # Try dub builds - this should start replacing the makefiles.
  - dub build -b release -c d3q19
  - mv dlbc dlbc-d3q19-release
  - dub build -b release -c d2q9
  - mv dlbc dlbc-d2q9-release
  - dub build -b release -c d1q5
  - mv dlbc dlbc-d1q5-release
  - dub build -b release -c d1q3
  - mv dlbc dlbc-d1q3-release

# Until the output files of the dub builds are set correctly,
# don't expect the ldc tests to find the right executables...
matrix:
  allow_failures:
    - d: ldc-0.15.1

branches:
  only:
    - master

notifications:
  email: true

