language: d

d:
  - dmd-2.066.1
  - ldc-0.15.1

install:
  - ./tests/travis-ci/get-dependencies.sh
  # MPICH 3.1
  # - wget http://www.mpich.org/static/downloads/3.1/mpich-3.1.tar.gz
  # - tar -xf mpich-3.1.tar.gz
  # - cd mpich-3.1/
  # - ./configure --disable-fc --disable-f77 &> /dev/null
  # - make &> /dev/null
  # - sudo make install &> /dev/null
  # - cd ..
  # Check MPICH version
  - mpichversion

  # HDF5 1.8.13
  # - wget http://www.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8.13/src/hdf5-1.8.13.tar.bz2
  # - tar -xf hdf5-1.8.13.tar.bz2
  # - cd hdf5-1.8.13
  # - ./configure --prefix=/usr --enable-parallel --disable-fortran &> /dev/null
  # - make &> /dev/null
  # - sudo make install &> /dev/null
  # - cd ..
  # Check HDF5 version
  - h5dump -V

  # Doveralls; coveralls.io for D
  - dub fetch doveralls

script:
  # Run tests - split up the various testing sections to get timing for them separately
  - ./tests/travis-ci/build-configurations.sh ${DC}
  - ./tests/travis-ci/unittest-coverage.sh ${DC} TRAVIS
  # Move into this directory, or the script will start to pick up other json files
  - cd tests/runnable ; ./run-tests.py --compiler ${DC}
  # This isn't set up for ldc builds yet...
  - make test-runnable

# Until the output files of the dub builds are set correctly,
# don't expect the ldc tests to find the right executables...
matrix:
  allow_failures:
    - d: ldc-0.15.1

branches:
  only:
    - master

notifications:
  email: true

